html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  .progress-section {
    display: none;
  }
}
body {
  margin: 1.5em 0 0 0;
  font-family: "Poppins", sans-serif;
  overscroll-behavior-y: none;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}
.logo {
  margin: -2em 0 0 0;
  width: 20vh;
}
.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/home-cooking.jpg");
  background-size: cover;
  background-position: 5%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  animation: introLoad 2s forwards;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 40%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8em;

    a {
      color: black;
      padding: 0.75em 2em;
      display: block;

      &:hover {
        background: rgba(128, 128, 128, 0.1);
      }
    }
  }
}

.close {
  float: right;
  margin: 1em;
  width: 2.5em;
}
header {
  display: flex;
  justify-content: space-between;

  svg {
    width: 3em;
    margin-top: -0.6em;
    cursor: pointer;
  }
}

h1 {
  font-size: 2rem;
  margin-top: 1em;
  line-height: 3rem;
  inline-size: 40vh;
}

.sub-head {
  font-size: 1.3em;
  inline-size: 40vh;
}

section.hero {
  color: white;
  height: 90vh;
  animation: moveDown 1s ease-in-out forwards;
  opacity: 0;

  .down-arrw {
    stroke: white;
    position: absolute;
    bottom: 3em;
    width: 1em;
    animation: moveArrow 1s alternate-reverse infinite;
    path {
      fill: white;
    }
  }
}

.more-info {
  .articles {
    img {
      width: 100%;
      object-fit: cover;
      height: 11em;
    }
  }
  

  .title {
    font-weight: bold;
    font-size: 1.25rem;
  }
  .desc {
    line-height: 1.5rem;
  }
}

.open-nav {
  transform: translateX(0%);
}

@media only screen and (max-width: 680px) {
  body {
    margin: 1.5em 1em;
    font-family: "Poppins", sans-serif;
  }

  .down-arrw {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .ham-men {
    display: none;
  }

  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;

    svg.close {
      display: none;
    }

    ul {
      display: flex;
      margin: 0;

      a {
        color: white;
        padding: 0.5em 1.5em;
        font-size: 0.9rem;

        &:hover {
          background: none;
          text-decoration: underline;
        }
      }
    }
  }
  section.hero {
    margin: 1em;
    height: auto;
    width: 40%;
    margin-bottom: 15em;

    .down-arrw {
      margin-bottom: -13em;
    }
  }

  .feature {
    
    .grow {
      display: inline-block;
      transition-duration: .3s;
      transition-property: transform;
    
      &:hover {
        transform: scale(1.1);
      }
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    margin-bottom: 5em;


    .content {
      text-align: right;
      width: 25em;
    }
  }
  .feature.flip {
    grid-template-areas: "left right";

    .articles{
        grid-area: left;
    }

    .content {
      text-align: left;
      width: 25em;
      justify-self: right;
    }
  }

  .logo {
    margin: -1.5em 0 0 1em;
  }
}

@media only screen and (min-width: 1200px) {
  // .progress-section {
  //   position: fixed;
  //   margin: 0px;
  //   right: 0px;
  //   top: 40%;
  //   width: 60px;
  //   height: 20%;
  //   display: flex;
  //   justify-content: space-between;
  //   will-change: transform;
  //   transition: 0.3s ease-out;

  //   .progress-bar-wrap {
  //     position: relative;
  //     width: 5px;
  //     border: 1px solid black;
  //     border-radius: 10px;
  //     overflow: hidden;
  //     background: rgb(70, 70, 70);

  //     .progress-bar {
  //       position: absolute;
  //       bottom: 0;
  //       width: 100%;
  //       height: 0%;
  //       background: rgb(189, 189, 189);
  //     }
  //   }
  // }
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .feature {
    gap: 0;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}

@keyframes introLoad {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes moveArrow {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(-10px);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  .down-arrw{
    display: none;
  }
  footer {
    margin-top: 3em;
    position: relative;
    bottom: 0;
  }
  .main-container {
    flex-wrap: wrap;
    flex-direction: column;
    .box {
      margin: 0.3em;
    }
  }
}

footer {
  bottom: 0em;
  width: 100%;
  background: #111;
  color: antiquewhite;
  .main-container {
    display: flex;
    .left .content1 {
      p {
        text-align: justify;
      }
      .social {
        margin: 1.5em 0 0;
        a {
          padding: 0 2px;
          span {
            color: white;
            height: 40px;
            width: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 18px;
            border-radius: 5px;
            transition: 0.3s;

            &:hover {
              transition: 0.3s;
              color: purple;
            }
          }
        }
      }
    }
    .box {
      flex-basis: 50%;
      padding: 10px 20px;
      .content1 {
        margin: 20px 0 0 0;
        position: relative;
      }
      .content::before {
        position: absolute;
        content: "";
        top: -10px;
        height: 2px;
        width: 100%;
        background: #1a1a1a;
      }
      .content1::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 15%;
        background: #21f367;
        top: -10px;
      }
      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    .center .content1 {
      span.fas {
        font-size: 1.5rem;
        background: #1a1a1a;
        height: 45px;
        width: 45px;
        line-height: 45px;
        text-align: center;
        border-radius: 50%;
        transition: 0.3s;
        cursor: pointer;
      }
      .text a {
        color: white;
        font-size: 1rem;
        font-weight: 500;
        padding: 0 0 0 0.5em;
      }
      .phone {
        margin: 1.3em 0;
      }
    }
    .right form {
      .text {
        font-size: 1rem;
        margin-bottom: 0.2em;
        color: #656565;
      }
      input,
      textarea {
        width: 100%;
        font-size: 1rem;
        background: #151515;
        padding-left: 0.8em;
        border: 1px solid #222222;
        outline: none;
        color: #ffff;
        resize: none;
      }
      .btn {
        margin-top: 0.3em;
        input[type="submit"] {
          height: 40px;
          width: 100%;
          border: none;
          outline: none;
          background: #2196f3;
          font-size: 1rem;
          font-weight: 500;
          cursor: pointer;
          transition: 0.3s;
        }
        input[type="submit"]:hover {
          background: #9cf23a;
        }
      }
    }
  }
}
